.inputGroup input{
    height: 50px;
    width: 378px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    outline: none;
    appearance: none;
    padding: 12px;
}
.inputGroup :focus::placeholder{
    color: transparent;
}
.inputGroup input::placeholder{
    text-align: center;
    /* padding-left: 10px; */
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border: 0;
    transition: color 0.5 ease;
    -webkit-transition: color 0.5 ease;
    -moz-transition: color 0.5 ease;
    -ms-transition: color 0.5 ease;
    -o-transition: color 0.5 ease;
}
.inputGroup span{
    position: absolute;
}
.icon{
    /* position: absolute; */
    /* padding: 3px 0 0 1px ; */
    margin: 22px;
    pointer-events: none;
    /* min-width: 50px; */
}
.hidden {
    display: none;
  }
.btn{
    height: 50px;
    width: 378px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 0;
    cursor: pointer;
    margin-top: 15px;
}